[MASTER]
ignore=CVS
persistent=yes
load-plugins=

[MESSAGES CONTROL]
disable=C0111, C0103, R0903, R0913, R0914, W0621, W0703, C0301

[REPORTS]
output-format=text
files-output=no
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[BASIC]
good-names=i,j,k,ex,Run,_,id,x,y
bad-names=foo,bar,baz,toto,tutu,tata
name-group=
include-naming-hint=no

[FORMAT]
max-line-length=120
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
single-line-if-stmt=no
no-space-check=trailing-comma,dict-separator
max-module-lines=2000
indent-string='    '

[MISCELLANEOUS]
notes=FIXME,XXX,TODO

[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=no

[TYPECHECK]
ignored-modules=numpy,tensorflow,torch,cv2
ignored-classes=SQLObject
generated-members=REQUEST,acl_users,aq_parent,objects 